@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* padding: 2rem 2rem; */
}
.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main_container img {
    display: block;
    max-width: 3.5rem;
}
.main_container h1 {
    color: hsla(0, 0%, 100%);
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
}
.main_container p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.93rem;
}
.first_content,
.second_content,
.third_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 18rem;
    padding: 3rem 2rem;
    overflow: hidden;
}
.first_content {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}
.second_content {
    background-color: hsl(184, 100%, 22%);
}
.third_content {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}
#learnBtn,
#learnBtn2,
#learnBtn3{
    font-family: 'Lexend Deca', sans-serif;
    padding: .8rem 2rem;
    border-radius: 25px;
    border: none;
    transition: all 0.2s ease;
    margin-top: 4rem;
    font-weight: bold;
}
#learnBtn {
    color: hsl(31, 77%, 52%);
}
#learnBtn2 {
    color: hsl(184, 100%, 22%);
}
#learnBtn3 {
    color: hsl(179, 100%, 13%);
}
#learnBtn:hover,
#learnBtn2:hover,
#learnBtn3:hover {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: 2px solid hsla(0, 0%, 100%);
    cursor: pointer;    
}

@media (max-width: 811px) {
    .second_content {
        border-radius: 0 8px 8px 0;
    }
    .third_content {
        border-radius: 0 0 8px 8px;
    }
}
@media (max-width: 522px) {
    .main_container {
        padding: 3rem 0;
    }
    .first_content,
    .second_content,
    .third_content {
        max-width: 16rem;
    }
    .first_content {
        border-radius: 8px 8px 0 0;
    }
    .second_content {
        border-radius: 0;
    }
    #learnBtn,
    #learnBtn2,
    #learnBtn3 {
        margin: 0;
    }
}
